---
url: https://developer.huawei.com/consumer/cn/doc/harmonyos-guides/huks-signing-signature-verification
title: 签名/验签
breadcrumb: 指南 > 系统 > 安全 > Universal Keystore Kit（密钥管理服务） > 本地密钥管理 > 密钥使用 > 签名/验签
category: harmonyos-guides
scraped_at: 2026-06-01T11:17:54+08:00
doc_updated_at: 2026-03-09
content_hash: sha256:484d2a01dd1a4e45de2d92ff0d6a482a7bc51f8b662b40b4e6a5fe4b7b37f809
---
* **[签名/验签介绍及算法规格](签名验签介绍及算法规格/huks-signing-signature-verification-overview.md)**
* **[签名/验签(ArkTS)](签名验签(ArkTS)/huks-signing-signature-verification-arkts.md)**
* **[签名/验签(C/C++)](签名验签(CC++)/huks-signing-signature-verification-ndk.md)**
