---
url: https://developer.huawei.com/consumer/cn/doc/harmonyos-guides/huks-ukey-signing-signature-verification
title: 签名/验签
breadcrumb: 指南 > 系统 > 安全 > Universal Keystore Kit（密钥管理服务） > 外部密钥管理扩展 > 签名/验签
category: harmonyos-guides
scraped_at: 2026-06-01T11:18:54+08:00
doc_updated_at: 2026-03-09
content_hash: sha256:1ee6d4b535af95e821e6d4c7fa06551699abe6afdc495f03daada489c858fa3f
---
* **[签名/验签介绍及算法规格](签名验签介绍及算法规格/huks-ukey-signing-signature-verification-overview.md)**
* **[签名/验签(ArkTS)](签名验签(ArkTS)/huks-ukey-signing-signature-verification-arkts.md)**
* **[签名/验签(C/C++)](签名验签(CC++)/huks-ukey-signing-signature-verification-ndk.md)**
